!!! 5
html(lang='en')
  head
    title avery
    link(href='/avery.css',rel='stylesheet',type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js',type='text/javascript')
    script(src='/avery.required.js',type='text/javascript')
    script(src='/avery.js',type='text/javascript')
  body!=body